*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
body{

	overflow-x: hidden;
	background-color: #fff;
}

header{
	width: 100%;
	height: 50px;
	background-color: #222222;
}
nav ul {
	float: right;
	margin-top: 20px;
	margin-right: 60px;
}
nav ul li{
	list-style: none;
	float: left;
	margin-right: 20px;
}

nav ul li a{
	color: #fff;
	font-family: arial;
	font-size: 16px;
}
.box{
	display:inline-block;
	width:100px;
	padding: 10px;
	margin-bottom: 4px;
	background-color: #fff;
	border-radius: 4px;
	/*margin-left: 220px;*/
	margin-top: 160px;
	/*padding-right: 20px;*/
	position: relative;
}
h2{
	color:blue;
}
div img {
	width:100px;
	height: 100px;
}
div span{
	color:orange;
	font-family: verdana;
}
table span{
	color:blue;
}
h3{
	color:orange;
}

