*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
body{
	overflow-y: hidden;
	overflow-x: hidden;
}

header{
	width: 100%;
	height: 50px;
	background-color: #222222;
}
nav ul {
	float: right;
	margin-top: 20px;
	margin-right: 60px;
}
nav ul li{
	list-style: none;
	float: left;
	margin-right: 20px;
}

nav ul li a{
	color: #fff;
	font-family: arial;
	font-size: 16px;
}
table{
	width:100%;
	margin-top: 70px;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
